{% extends 'Base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    {%load static%}

<style>
    .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.box > div { /*The > denotes only the first or immediate child will be affected*/
  width: 600px;
  height: auto;
  /*border: dotted;
*/
}
</style>

<div style="background-image:  url(''); background-repeat:no-repeat;background-size:cover;  height:687px; width:100%;">
    
    <div class="box">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="row">
            <div class="col-md-4">
                <img style="height: 200px;width: 180px;" src="/media/dr.jpg">

            </div>

            <div class="col-md-8">
                <form method="POST" action="/Add_Doctor/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1>Add Doctor</h1>
                <hr>
                <label class="form-label">Doctor Name</label>
                <input class="form-control" type="text" name="name" required>
                <br>

                <label class="form-label">Gender</label>
                <input class="form-control" type="text" name="Gender" required>
                <br>

                <label class="form-label">Speciality</label>
                <select name="Speciality"  class="form-select" required>
                    <option id="Speciality" value="Speciality" selected></option>
                    <option value="Acne">Acne</option>
                    <option value="Actinic keratosis">Actinic keratosis</option>
                    <option value="Basal Cell Carcinoma">Basal Cell Carcinoma</option>
                    <option value="Melanoma">Melanoma</option>
                </select>
                <!-- <input class="form-control" type="tel" name="Speciality"  id="phone" required> -->
                <br>

                <label class="form-label">Department</label>
                <input class="form-control" type="text" name="Department" required>
                <br>

                <input class="btn btn-secondary" type="submit" name="" value="Add Doctor">
                </form>
            </div>
        </div>
    </div>
</div>

</div>

{%endblock%}