{% extends 'Base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>alert("{{ message }}")</script>
        {% endif %}
    {% endfor %}
{% endif %}

{% load static %}

<div style="background-image: url('https://pixabay.com/images/search/medicine/'); background-repeat: no-repeat; background-size: cover; height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center;">
    <div style="height: auto; width: 400px; border: solid 1px; border-radius: 5px; background-color: rgba(255, 253, 208, 0.5); padding: 20px;">
        <center><h3>User Login</h3></center>
        <hr>
        <form action="/login/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container row">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="username" required>
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="formGroupExampleInput" name="password" required>
                </div>

                <div class="mb-3" style="display: flex; justify-content: center; align-items: center;">
                    <input class="btn btn-secondary" type="submit" name="submit">
                </div>

                <div style="display: flex; justify-content: center; align-items: center;">
                    <a href="/register/" style="color: #000; text-decoration: none;">New User Registration</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}