{% extends 'Base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    {%load static%}



<div style="background-image:  url('/media/view11_feedback.jpg'); background-repeat:no-repeat;background-size:cover;  height:687px; width:100%;">
    <h1>View Feedback</h1>

    <div class="container">
        <table class="table table-dark table-hover table-stripped">
            <thead>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Mailid</th>
                <th>Feedback</th>
            </thead>

            <tbody>
                {%for i in details%}
                <tr>
                    <td>{{i.firstname}}</td>
                    <td>{{i.lastname}}</td>
                    <td>{{i.mailid}}</td>
                    <td>{{i.feedback}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}